<footer>

    <div class="container">

        <div class="container__contact">
            <h2>Contacto: </h2>
            <ul>
                <li>
                    <img src="./../../../../assets/footer/wp.png" alt="whatsapp">
                    <a href="https://wa.me/3239900100">3239900100</a>
                </li>
                <li>
                    <img src="./../../../../assets/footer/email.png" alt="whatsapp">
                    <a href="mailto:administración@tecsisman.com">administración@tecsisman.com</a>
                </li>
            </ul>


        </div>
        <div class="container__findUs" itemscope itemtype="https://schema.org/170001">
            <h2>Creado por:</h2>
            <p>Sharom Bromberg</p>
        </div>
    </div>

</footer>