<div class="launch">
    <h2>Sobre Nosotros</h2>

    <div class="launch__items">
        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/team.webp"
                alt="Equipo de TECSISMAN">
            <h3 class="launch__items__container__title"> Nuestro equipo</h3>
            <p class="launch__items__container__paragraph">Contamos con un equipo altamente capacitado y comprometido,
                dispuesto a abordar tus necesidades de manera ágil y eficiente. Nuestra prioridad es brindarte
                soluciones efectivas y satisfactorias. ¡Confía en nosotros para superar tus expectativas.</p>
        </div>

        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/history.webp"
                alt="Razones para elegir TECSISMAN">
            <h3 class="launch__items__container__title">¿ Por qué elegirnos ?</h3>
            <p class="launch__items__container__paragraph"> Somos un equipo apasionado por el
                desarrollo tecnológico y la excelencia en cada proyecto que emprendemos. Con una visión única y un
                enfoque centrado en nuestros clientes, estamos aquí para llevar tu presencia en línea al siguiente
                nivel.</p>
        </div>
        <div class="launch__items__container">
            <img class="launch__items__container__image" src="../../../../assets/pictures/skills.webp"
                alt="Especialidades de TECSISMAN">
            <h3 class="launch__items__container__title">Nuestras Especialidades</h3>
            <p class="launch__items__container__paragraph">Desarollamos paginas web a tu medida, instalamos las redes y
                sistemas de seguridad de tu empresa u hogar, contamos con servicios de venta de tecnología, aquí
                encontrarás lo que buscas</p>
        </div>
    </div>

</div>