@import "../../../../assets/tokens/breakpoints.scss";
@import "../../../../assets/tokens/colors.scss";
@import "../../../../assets/tokens/fonts.scss";
@import "../../../../assets/tokens/margins.scss";
@import "../../../../assets/tokens/shadows.scss";

.quotate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  &__items {
    display: flex;
    justify-content: center;

    &__container {
      display: flex;
      place-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      &__image {
        object-fit: cover;
      }

      &__title {
        @include fira-code-bold-medium;
      }

      &__button {
        @include fira-code-medium;
        color: $white-00;
        background-color: $black-00;
        border-radius: 1rem;
      }
    }
  }
}

@media (min-width: $breakpoint-480p) {
  .quotate {
    margin: 8rem 0;
    padding: 5rem;

    h2 {
      @include fira-code-bold-large;
      margin: 5rem 0;
    }

    &__items {
      width: 100%;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;

      &__container {
        gap: 2rem;
        margin-bottom: 8rem;

        &__image {
          margin-top: 0;

          img {
            width: 25rem;
            height: 16rem;
            margin: 0 auto;
          }
        }

        &__title {
          height: 2rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-portrait) {
  .quotate {
    margin: 1rem 0;
    padding: 2%;

    h2 {
      @include fira-code-bold-large;
      margin: 5rem 0;
    }

    &__items {
      flex-direction: column;
      width: 100%;
      gap: 5rem;

      &__container {
        width: 90%;
        gap: 2rem;
        margin-bottom: 8rem;
        margin: 0 auto;

        &__image {
          width: 100%;

          img {
            display: flex;
            width: 100%;
            height: 11rem;
          }
        }

        &__title {
          max-width: 80%;
        }
      }
    }
  }
}
