<div class="dating">
    <h2>Agenda tu Cita</h2>

    <div class="dating__items">
        <div class="dating__items__container">
            <img class="dating__items__container__image" src="../../../../assets/pictures/manteinance.jpg" alt="">
            <h3 class="dating__items__container__title"> Mantenimiento Preventivo / Mantenimiento Correctivo</h3>
            <a href="https://wa.me/3239900100">
                <button class="dating__items__container__button">Programar</button>
            </a>
        </div>

        <div class="dating__items__container">
            <img class="dating__items__container__image" src="../../../../assets/pictures/prueba.jpg" alt="">
            <h3 class="dating__items__container__title">Instalación de redes empresariales</h3>
            <a href="https://wa.me/3239900100">
                <button class="dating__items__container__button">Programar</button>
            </a>
        </div>
        <div class="dating__items__container">
            <img class="dating__items__container__image" src="../../../../assets/pictures/safenetwork.jpg" alt="">
            <h3 class="dating__items__container__title">Instalación de sistemas de seguridad</h3>
            <a href="https://wa.me/3239900100">
                <button class="dating__items__container__button">Programar</button>
            </a>
        </div>
    </div>

</div>