@use '../../../../assets/tokens/fonts.scss' as *;

.development {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
        @include code-bolder;
        margin: 4rem 0;
        text-align: center;
        font-weight: 700;
    }

    h2 {
        @include code-normal-large;
        margin: 1rem auto;
        text-align: center;
    }

    p {
        @include fira-code-semibold;
        text-align: center;
    }
}

.development__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.development__container__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: $margin-medium 0;
    width: 100%;

    @media (min-width: $breakpoint-tablet-portrait) {
        gap: 4rem;
    }
}

.development__container__item__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media (min-width: $breakpoint-tablet-portrait) {
        flex-direction: row;
        gap: 5rem;
    }

    p {
        text-align: left;
        flex: 1;
    }

    img {
        width: 100%;
        max-width: 20rem;
        height: auto;
        border-radius: 0.5rem;
    }
}